doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing Page
  body
    h1 The future home of somethimg magical!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia maxime reiciendis ducimus? Quis ullam ipsa libero. Culpa laborum quidem, consequuntur architecto dolore placeat incidunt porro nam cum iste ipsam unde quod voluptate magnam deleniti iusto harum provident in sint possimus! Beatae possimus atque nesciunt itaque. Aperiam possimus quaerat consequuntur porro ipsum eaque! Dicta omnis iure dolorem quasi. Cum repellat quaerat dolore doloremque vel unde aliquam. Sunt reprehenderit dicta amet tenetur, porro quisquam possimus nobis, aperiam laboriosam saepe maiores. Perspiciatis inventore sapiente soluta aliquam accusantium eaque corporis rerum? Tempora unde, magni cupiditate numquam sed officiis nam itaque cumque iure dicta velit?